/* Universal codes start */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url(../fonts/Poppins-Black.ttf);
  src: url(../fonts/Poppins-BlackItalic.ttf);

  /* kejbgrierb */
  src: url(../fonts/Poppins-Bold.ttf);
  src: url(../fonts/Poppins-BoldItalic.ttf);
  src: url(../fonts/Poppins-ExtraBold.ttf);
  src: url(../fonts/Poppins-ExtraBoldItalic.ttf);
  src: url(../fonts/Poppins-ExtraLight.ttf);
  src: url(../fonts/Poppins-ExtraLightItalic.ttf);
  src: url(../fonts/Poppins-Italic.ttf);
  src: url(../fonts/Poppins-Light.ttf);
  src: url(../fonts/Poppins-LightItalic.ttf);
  src: url(../fonts/Poppins-Medium.ttf);
  src: url(../fonts/Poppins-MediumItalic.ttf);
  src: url(../fonts/Poppins-Regular.ttf);
  src: url(../fonts/Poppins-SemiBold.ttf);
  src: url(../fonts/Poppins-SemiBoldItalic.ttf);
  src: url(../fonts/Poppins-Thin.ttf);
  src: url(../fonts/Poppins-ThinItalic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}

@keyframes Animate {
  10% {
    transform: translateY(-5%);
  }
  30% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  70% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(-5%);
  }
}
@keyframes cercleText {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Universal codes end */
/* Header start */
header .navBlue {
  padding: 15px;
  background: #3a0ca3;
}
header .navBlue .container {
  width: 110%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navBlue .container p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
header .navBlue .container .lockat {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .navBlue .container .connact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .navBlue .container .connact .w1 {
  display: flex;
  align-items: center;
}
header .navBlue .container .connact .w1 img {
  margin-right: 10px;
}
header .home {
  background-image: url("../images/Abu/bg.png");
  background-repeat: no-repeat;
  background-position: top;
}
header .home .container {
  display: flex;
  flex-direction: column;
}
header .home .container .nav {
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .home .container .nav .menyu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .home .container .nav .menyu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  border-radius: 30px;
}
header .home .container .nav .menyu li a {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
header .home .container .nav .menyu li:hover {
  background: rgba(67, 97, 238, 0.3019607843);
}
header .home .container .nav .homeDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .home .container .nav .homeDiv div {
  margin-right: 8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a0ca3;
}
header .home .container .nav .homeDiv h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
header .home .container .nav .login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .home .container .nav .login .e1 {
  width: 170px;
  height: 50px;
  background: inherit;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .home .container .nav .login .e2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  background: #3a0ca3;
  border: none;
  outline: none;
  color: white;
}
header .home .container .hometxt {
  width: 100%;
  margin-top: 90px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
header .home .container .hometxt .txt {
  width: 580px;
  display: flex;
  flex-direction: column;
  position: relative;
}
header .home .container .hometxt .txt p {
  color: #4361ee;
  font-size: 19.4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.91px;
  margin-bottom: 15px;
}
header .home .container .hometxt .txt h2 {
  color: #0b090a;
  font-size: 57.3px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 65px;
}
header .home .container .hometxt .txt span {
  margin: 40px 0;
  color: #808080;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
header .home .container .hometxt .txt marquee {
  width: 540px;
  height: 360px;
  scroll-snap-type: mandatory;
  display: flex;
}
header .home .container .hometxt .txt marquee img {
  width: 540px;
  height: 340px;
  margin: 0 25px;
}
header .home .container .hometxt .txt .r1 {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  left: 40px;
  bottom: 3px;
  background: #3a0ca3;
}
header .home .container .hometxt .txt .r2 {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  bottom: 3px;
  left: 160px;
  background: #FFFFFF;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
}
header .home .container .hometxt .txt .r3 {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  bottom: 3px;
  left: 280px;
  background: #FFFFFF;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
}
header .home .container .hometxt .txt .r4 {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  bottom: 3px;
  left: 400px;
  background: #FFFFFF;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
}
header .home .container .hometxt .blank {
  border-radius: 30px;
  width: 420px;
  height: 580px;
  background: white;
  display: flex;
  flex-direction: column;
}
header .home .container .hometxt .blank .top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #aaaaaa;
}
header .home .container .hometxt .blank .top h4 {
  padding: 40px 0 30px;
  border-bottom: 1px solid #3a0ca3;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #3a0ca3;
}
header .home .container .hometxt .blank .top h4:nth-child(2) {
  border: none;
}
header .home .container .hometxt .blank .buttonlar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .home .container .hometxt .blank .buttonlar input {
  border: none;
  outline: none;
  margin-top: 50px;
  width: 340px;
  height: 60px;
  border-radius: 20px;
  color: #aaa;
  background: #d4d4d4;
  padding: 15px;
}
header .home .container .hometxt .blank .buttonlar select {
  outline: none;
  margin-top: 30px;
  width: 340px;
  height: 60px;
  border-radius: 20px;
  color: #aaa;
  background: #d4d4d4;
  padding: 15px;
  border: none;
}
header .home .container .hometxt .blank .buttonlar .p {
  display: flex;
  align-items: center;
  color: #3a0ca3;
  font-size: 13.3px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  transform: translateX(-100px);
  margin-top: 45px;
}
header .home .container .hometxt .blank .buttonlar .p img {
  margin-right: 10px;
}
header .home .container .hometxt .blank .buttonlar button {
  margin-top: 45px;
  width: 340px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #3a0ca3;
  border: none;
}
header .home .container .hometxt .blank .buttonlar button img {
  margin-right: 10px;
}
header .home .container .bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}
header .home .container .bottom .profiles {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.05);
  width: 360px;
  height: 100px;
  border-radius: 50px;
  background: white;
}
header .home .container .marqueePart {
  margin-top: 118px;
  font-family: "Poppins", sans-serif;
  color: #808080;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .home .container .marqueePart marquee {
  margin: 60px 0 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .home .container .marqueePart marquee img {
  margin: 0 50px;
}

/* Header end */
/* assisting section start */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .forText {
  width: 50%;
  margin-right: 43px;
  padding: 20px;
}

.container .forText .public_h5 {
  color: #4361ee;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  line-height: 29px;
}

.container .forText .public_h2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  margin-bottom: 30px;
  display: flex;
  letter-spacing: 3px;
}

.container .forText .bnt {
  margin-bottom: 40px;
}

.container .forText .row {
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.container .forText .public_p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #808080;
}

.container .forText .textImg {
  display: flex;
  padding: 30px;
  color: #ffffff;
  border-radius: 30px;
  box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.06);
  gap: 25px;
  width: 400px;
  margin-bottom: 30px;
}

.container .forImg {
  display: flex;
  justify-content: center;
  position: relative;
}

.container .forImg .larg1 {
  margin-top: 150px;
}

.container .forImg .larg1 img {
  box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.15);
  width: 280px;
  height: 500px;
  border-radius: 30px;
  margin-right: 10px;
}

.container .forImg .larg2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.container .forImg .larg2 .cercleText {
  box-shadow: none;
  height: 206px;
  position: absolute;
  z-index: 1;
  bottom: 470px;
  right: 180px;
  animation-name: cercleText;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.container .forImg .larg2 img {
  border-radius: 30px;
  box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.15);
}

.container .forImg .larg2 img:nth-child(1) {
  width: 277px;
  height: 280px;
}

.container .forImg .larg2 img:nth-child(2) {
  margin-top: 20px;
  width: 277px;
  height: 180px;
}

.container .forImg .larg2 .cercleNuqta {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: linear-gradient(180deg, #4361ee 0%, rgba(67, 97, 238, 0) 100%);
  opacity: 0.5;
  transform: rotate(30deg);
  position: absolute;
  z-index: 1;
  bottom: 50px;
  right: 150px;
}

/* assisting section end */
/* Checkout section start */
.checkout .container .New p {
  padding-top: 200px;
  font-size: 20.4px;
  border-radius: 15%;
  font-family: 'Poppins' sans-serif;
  color: #4361EE;
  padding-bottom: 20px;
}
.checkout .container .New h2 {
  color: #2B2B2B;
  font-size: 39.8px;
  padding-bottom: 30px;
}  
.checkout .container  .btns {
padding-left: 100px;
gap: 30px;
margin-top: -220px;
margin-left: 810px;
}
.checkout .container  .btns button{
  width: 100px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #3A0CA3;
  text-align: center;
  justify-content: end;
}
.checkout .btns span {
  color: #FFFFFF;
  /* background-color: #3A0CA3; */
}

.checkout  .btns .sell {
  background-color: #3A0CA3;
}
.checkout .container .New h2+p {
  color: #808080;
  margin-top: -160px;
  font-size: 16px;
}
.checkout .container .Popular {
  padding-top: 50px;
  padding-bottom: 32px;
  font-size: 30px;
}
.checkout .container .Popular .pop {
  margin-top: -80px;
  padding-left: 30px;
  
}
.checkout .container  .summa h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.checkout .container .summa h3 {
padding-bottom: 20px;
}
.checkout .container .summa p {
  padding-bottom: 20px;
  }
.checkout .container  .summa h2 h3 {
  color: #2B2B2B;
  
}
.checkout .container .summa .icon {
 display: flex;

 /* gap: 20px; */
}
.checkout .container .summa .icon .icon-2 {
padding-left: 20px;
}
.checkout .container .summa .icon .icon-1 , .icon-2 {
  padding-right: 10px;
}
.checkout .Haveng {
  margin-top: 120px;
  margin-left: 100px;
  display: flex;
  gap: 50px;
  margin-bottom: 200px;
}
.checkout .head {
  margin-left: 120px;
}





/* Checkout section end */
/* services section start */
.sevices {
  background: #d4d4d4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sevices .container {
  gap: 80px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 752px;
}

.sevices .container .forText {
  width: 740px;
  height: 28px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29px;
}

.sevices .container .forText p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 39.8px;
  line-height: 47px;
}

.sevices .container .forBox {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  gap: 50px;
  margin-top: 50px;
}

.sevices .container .forBox .divbox {
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  flex-direction: column;
  padding: 60px;
  box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.03);
}

.sevices .container .forBox .divbox:hover {
  box-shadow: 4px 20px 60px rgba(16, 231, 31, 0.03);
  background-color: #4361ee;
  display: flex;
  animation-name: Animate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.sevices .container .forBox .divbox .box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 10px 18px #000;
}

.sevices .container .forBox .divbox p {
  text-align: center;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 29px;
}

.sevices .container .forBox .divbox span {
  text-align: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* services section end */
/* properties section start */
/*properties section end */
/* experts section start */
.experts .container{
  position: relative;
  flex-wrap: wrap;
  margin-top: 210px;
}
.experts .container .text{
  width: 626px;
  height: 72px;
  margin-bottom: 100px;
}
.experts .container .text p{
  color: var(--colour-1, #4361EE);
  text-align: center;
  font-size: 19.4px;
  font-weight: 500;
  letter-spacing: 2.91px;
  text-transform: uppercase;
  
}
.experts .container .text h2{
  text-align: center;
  font-size: 39.8px;
  line-height: 47px;
  color: #2B2B2B;
}
.experts .container .GROUPS{

  display: flex;
  width: 1013px;
  justify-content: space-between;
  margin-bottom: 180px;
}
.experts .container .GROUPS .group1 h3{
  color: #0B090A;
  text-align: center;
  font-size: 27.6px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.experts .container .GROUPS .group1 a{
  color: var(--colour-1, #4361EE);
  text-align: center;
  font-size: 16px;
  font-weight: 500px;
}
.experts .container .ellipse14{
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(-30px);
  /* flex-shrink: 0; */
  border-radius: 100%;
  /* opacity: 0.5; */
  background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0.00) 100%);
  left: 1097px;
  top: -150.4px;
}


/* experts section end */
/* trending section start */

.trending .container{
  background-color: #3A0CA3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.trending .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.trending .card {
  width: 340px;
  margin-left: 15px;
  margin-right: 15px;
}

.trending .icon {
  display: flex;
  justify-content: end;
}

.trending .image {
  border-radius: 30px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat, #FFF;
box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.20);
}


.trending .margin10{
  margin-bottom: 10px;
}

.trending .margin15{
  margin-bottom: 15px;
}
/* trending section end */
/* Testimonials section start */
/* Testimonials section end */
/* Footer start */

footer .zangori{
  background-color: rgba(67, 97, 238, 0.1);
  padding: 100px 160px;
  justify-content: space-between;
  align-items: flex-start;
}
footer .zangori .karobka1{
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin-top: -18px;
}
footer .zangori .karobka1 .uycha{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #3A0CA3;
  padding: 13px;
  margin-right: 8px;
}
footer .zangori .karobka1 b{
  font-size: 20px;
  font-weight: 600;
}
footer .zangori .karobka1 h5{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: start;
  margin-top: 32px;
}
footer .zangori .karobka1 p{
  margin-top: 48px;
}

footer .zangori .karobka2 .blogs{
  line-height: 26px;
  margin-top: 40px;
}

footer .zangori .karobka3 .discovery{
  line-height: 26px;
  margin-top: 40px;
}
footer .zangori .karobka4{
  max-width: 350px;
  
}
footer .zangori .karobka4 h4{
  font-size: 20px;
  text-align: start;
}
footer .zangori .karobka4 .email{
  width: 350px;
  padding: 21px;
  display: flex;
  margin-top: 21px;
  border-radius: 10px;
  background-color: #fff;
  justify-content: space-between;
}
footer .zangori .karobka4 .email input{
  width: 250px;
  padding: 5px 10px;
  border: 0;
  background-color: #fff;
  outline: 0;
}
footer .zangori .karobka4 .email input:focus{
  background-color: rgb(247, 237, 147);
}
footer .zangori .karobka4 .email button{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background-color: #3A0CA3;
}
footer .zangori .karobka4 .email button:active{
  background-color: rgb(30, 185, 237);
}
footer .zangori .karobka4 .follow{
  width: 120px;
  margin-top: 32px;
  
}
footer .zangori .karobka4 .follow h4{
  font-size: 19px;
  padding-bottom: 10px;
}
footer .zangori .karobka4 .follow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
footer .zangori .karobka4 .follow a{
  font-size: 22px;
}
footer .zangori .karobka4 .follow  #in:hover{
  color: #4361ee;
}
footer .zangori .karobka4 .follow #facebook:hover{
  color: #4361EE;
}
footer .zangori .karobka4 .follow #instagram:hover{
  background: conic-gradient(#833AB4, #E1306C, #FD1D1D, #F56040, #F77737, #FFDC80, #FCAF45,  #F56040,   #C13584,  #405DE6, #5851DB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .qora {
  background-color: #0B090A;
  display: flex;
  justify-content: space-between;
  padding: 20px 160px;
  color: #AAA;
}
footer .qora .terms{
  display: flex;
  gap: 40px;
}

/* Footer end *//*# sourceMappingURL=main.css.map */